{% extends 'base.html.twig' %}

{% block title %}Nueva categoría{% endblock %}

{% block content %}
    <h2 class="ps-3">Nueva categoría</h2>

    {{ include('category/_form.html.twig') }}

    <a class="btn btn-primary ms-3" href="{{ path('category_index') }}">Volver a la lista</a>
{% endblock %}
