
<img src="{{ email.image('@images/logo/LogoNova.jpg') }}" alt="Logo">
<h1>Bienvenido(a) {{ user.email }}!</h1>

<p>
    Utilice el siguiente código para reinicializar su contraseña:
</p>
<p><code>{{ passcode }}</code></p>

<p>
    Muchas gracias por contactarnos!
</p>