{% extends 'base.html.twig' %}

{% block title %}Editar variable de configuración{% endblock %}

{% block content %}
    <h2 class="ps-3">Editar variable de configuración</h2>

    {{ include('configuration/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('configuration_index') }}">Volver a la lista</a>

    {{ include('configuration/_delete_form.html.twig') }}
{% endblock %}
