{% extends 'base.html.twig' %}

{% block title %}Nueva variable de configuración{% endblock %}

{% block content %}
    <h2 class="ps-3">Nueva variable de configuración</h2>

    {{ include('configuration/_form.html.twig') }}

    <a class="btn btn-primary ms-3" href="{{ path('configuration_index') }}">Volver a la lista</a>
{% endblock %}
